// Define variables for your color scheme

// For example:
$red: #fe346e;
$blue: #3e6d9b;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: rgb(170, 170, 170);
$light-gray: #FDFDFD;
$black: #050607;
$green-spotify: rgb(29, 185, 84);
$green-spotify-hover: #34D760;
$green-blue: #02a8a8;
