<div id="left-panel">
  <div id="logo">
    <i class="fas fa-paw mr-1"></i><h1>Fetchify</h1>
  </div>
  <ul id="menu" class="list">
    <li class="menu-item active"><i class="fas fa-plus-circle mr-3"></i> <span>New download</span></li>
    <li class="menu-item"><i class="fas fa-list mr-3"></i> <span>My downloads</span></li>
  </ul>
  <div id="playlists">
    <h3>PLAYLISTS</h3>
    <ul class="list">
      <li class="list-item"><span>deep</span></li>
      <li class="list-item"><span>Mix Wagon</span></li>
      <li class="list-item active"><span>Best of Acif Techno 2018</span></li>
      <li class="list-item"><span>Nouveautés electro</span></li>
      <li class="list-item"><span>Laliste 2</span></li>
      <li class="list-item"><span>deep</span></li>
      <li class="list-item"><span>Mix Wagon</span></li>
      <li class="list-item"><span>Best of Acif Techno 2018</span></li>
      <li class="list-item"><span>Nouveautés electro</span></li>
      <li class="list-item"><span>Laliste 2</span></li>
      <li class="list-item"><span>deep</span></li>
      <li class="list-item"><span>Mix Wagon</span></li>
      <li class="list-item"><span>Best of Acif Techno 2018</span></li>
      <li class="list-item"><span>Nouveautés electro</span></li>
      <li class="list-item"><span>Laliste 2</span></li>
      <li class="list-item"><span>deep</span></li>
      <li class="list-item"><span>Mix Wagon</span></li>
      <li class="list-item"><span>Best of Acif Techno 2018</span></li>
      <li class="list-item"><span>Nouveautés electro</span></li>
      <li class="list-item"><span>Laliste 2</span></li>
      <li class="list-item"><span>deep</span></li>
      <li class="list-item"><span>Mix Wagon</span></li>
      <li class="list-item"><span>Best of Acif Techno 2018</span></li>
      <li class="list-item"><span>Nouveautés electro</span></li>
      <li class="list-item"><span>Laliste 2</span></li>
      <li class="list-item"><span>deep</span></li>
      <li class="list-item"><span>Mix Wagon</span></li>
      <li class="list-item"><span>Best of Acif Techno 2018</span></li>
      <li class="list-item"><span>Nouveautés electro</span></li>
      <li class="list-item"><span>Laliste 2</span></li>
    </ul>
  </div>
</div>
<div id="right-panel">
  <div id="top-bar">
    <div class="account">
      <span>Remi Chatenay</span>
    </div>
  </div>
  <div id="playlist-main">
    <div class="playlist-info">

    </div>
    <div class="separator"></div>
    <div class="songs-list">
      <div class="song">
        <div class="key-bpm">
          <p>C#</p>
          <p>123.4</p>
        </div>
        <div class="song-infos">
          <div class="dflex">
            <span>Titre</span>
            <span>4:21</span>
          </div>
          <div class="dflex">
            <div class="artist-album">
              <span>Artist Name</span>
              <span>Album Name</span>
            </div>
            <div class="genre-tags">
              <span>electro dance music</span>
              <span>house techno</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
