#cart {
  position: fixed;
  bottom: 0;
  right: 30px;
  z-index: 999;
  width: 600px;
  background-color: #1A1F24;
  background: linear-gradient(0deg, $black 0%, $black 30%, #1A1F24 100%);
  box-shadow: 0 0 16px rgba(0, 0, 0, 1);
  color: $gray;
  .cart-header {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding: 5px 15px;
    background-color: $black;
  }
}

.songs-list-small.cart-collapsed {
  display: none;
}

.songs-list-small {
  padding: 15px;
  .song-small {
    display: flex;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      i {
        margin-right: 10px;
        font-size: 13px;
      }
    }
  }
}

