.color-red {
  color: $red;
}

a {
  text-decoration: none !important;
  &:active {
    background-color: none;
  }
  &:hover {
    opacity: 0.7;
    color: $red;
  }
}
.btn {
  border-radius: 60px;
}
