#left-panel {
  position: sticky;
  top: 0;
  flex-shrink: 0;
  width: 250px;
  height: 100vh;
  padding: 30px;
  color: $gray;

  i {
    font-weight: regular;
  }

  .active {
    color: white !important;
  }
}

#logo {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  color: white;
  i {
    font-size: 28px;
  }

  h1 {
    font-size: 24px;
    letter-spacing: -2px;
    font-weight: bold;
    margin: 0;
  }

}

#menu {
  margin-bottom: 50px;
  li {
    display: flex;
    align-items: center;
    margin: 30px 0;
    cursor: pointer;
    transition: .2s ease;
    color: $gray;
    &:hover {
      color: white;
    }
    span {
      font-size: 14px;
      font-weight: bold;
    }

    i {
      font-size: 20px;
    }
  }
  .menu-item {
    position: relative;
  }

  .menu-item.active span:before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    bottom: -4px;
    width: 4px;
    left: -30px;
    background-color: $green-blue;
  }

}

#playlists {
  h3 {
    font-size: 12px;
    position: relative;
    left: -5px;
    color: $gray;
  }

  li {
    margin: 12px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: .2s ease;
    cursor: pointer;
    &:hover {
      color: white;
    }
  }

  .list {
    margin-right: - 30px;;
    height: calc(100vh - 300px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 16px;
    }
    &::-webkit-scrollbar-thumb {
      background: $gray;
    }

  }
}
