
#root {
  display: flex;
}

#left-panel {
  padding: 30px;
  color: $gray;
  width: 235px;

  i {
    font-weight: regular;
  }

  .active {
    color: white !important;
  }
}

#logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: white;
  i {
    font-size: 28px;
  }

  h1 {
    font-size: 24px;
    letter-spacing: -2px;
    font-weight: bold;
    margin: 0;
  }

}

#menu {
  margin: 10px 0;
  li {
    display: flex;
    align-items: center;
    margin: 24px 0;
    cursor: pointer;
    span {
      font-size: 14px;
      font-weight: bold;
    }

    i {
      font-size: 20px;
    }
  }
}

#playlists {
  h3 {
    font-size: 12px;
    position: relative;
    left: -5px;
  }

  li {
    margin: 12px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .list {
    margin-right: - 30px;;
    height: calc(100vh - 203px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 16px;
    }
    &::-webkit-scrollbar-thumb {
      background: $gray;
    }

  }
}

.list {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

.new-download-app {
  display: flex;
}

