#right-panel {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, $black 0%, $black 60%, #1A1F24 100%);
  flex-grow: 1;
}

#top-bar {
  position: sticky;
  top: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px;
}

.account {
  border-radius: 30px;
  background: $black;
  padding: 3px 10px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 1);
  cursor: pointer;
  color: white;
}

